<h1>Neighborhoods</h1>


<%= form_tag('/neighborhoods/:id', method: :get) do %>
<!-- hidden input w/neighbhorhood name -->
<%= select_tag :id, options_for_select([['Wicker Park', 1], ['Logan Square', 2]]) %>
<%= submit_tag %>
<% end %>





<!-- js to fetch from yelp/4sqr using the hidden neighborhood name -->
