
<nav class="user-nav">
	<img id="nav-icon" src="http://www.londonsyonpark.com/images/icon-mobile-nav.png">
	<%= form_tag('/sessions', method: :delete, :id => "sign-out-form") do %>
	<%= submit_tag "Sign Out" %>
	<% end %>
	<a href="/profile" class="non-responsive">My Profile</a>
	<h2 id="nav-username" class="non-responsive"> Welcome, <%=  @current_user.email  %>.</h2>
	<a href="/neighborhoods" id="nav-logo-wrapper" class="non-responsive"><h1 id="nav-logo">Neighborhoods</h1></a>
	<h2 class="responsive">My Profile</h2>
	<h2 class="responsive">Sign Out</h2>



</nav>

<script type="text/javascript">

	// SIGN IN FORM
			$('.responsive').hide();

			$('#nav-icon').on("click", function(evt){
				evt.preventDefault();
				$('.responsive').slideToggle("slow");
			})

			$(window).resize(function(){
				if ($(window).width() >= 670){
					$('.responsive').hide();
				}
			});


</script>