
<nav class="user-nav">
	<%= form_tag('/sessions', method: :delete, :id => "sign-out-form") do %>
	<%= submit_tag "Sign Out" %>
	<% end %>
	<a href="/profile">My Profile</a>
	<h2 id="nav-username"> Welcome, <%=  @current_user.email  %>.</h2>
	<a href="/neighborhoods" id="nav-logo-wrapper"><h1 id="nav-logo">BlockTrotter</h1></a>



</nav>
