
<nav id="nav">

	<!-- RESPONSIVE ITEMS -->
	<img id="nav-icon" src="http://www.londonsyonpark.com/images/icon-mobile-nav.png">
	
	

	<!-- NAV SIGN IN FORM FULL SCREEN-->
	<h3 id="sign-in-cta">Sign In</h3>
	<!-- LOG IN FORM -->
	<h2 class="responsive-nav">Sign In</h2>
	<%= form_tag('/sessions', method: :post, :id => 'sign-in-form') do |f| %>
	  <%= text_field_tag :email, nil, placeholder: "Email...", class: 'sign-in-field' %>
	  <%= password_field_tag :password, nil, placeholder: "Password...", class: 'sign-in-field'%>
	  <%= submit_tag 'Sign-In', :id => 'sign-in-button'%>
	<% end %>

	<!-- NAV SIGN IN FORM -->
	<h3 id="nav-sign-up-cta">Sign Up</h3>	
	<h2 class="responsive-nav">Sign Up</h2>

</nav>

<script type="text/javascript">

	// SIGN IN FORM
			$('#sign-in-form').hide();

			$('#sign-in-cta').on("click", function(evt){
				evt.preventDefault();
				$('#sign-in-form').slideToggle("slow");
				$(this).hide();
			})

			$('.responsive-nav').hide();

			$('#nav-icon').on("click", function(evt){
				evt.preventDefault();
				$('.responsive-nav').slideToggle("slow");
				$('#sign-in-form').hide();
			})

			$(window).resize(function(){
				if ($(window).width() >= 670){	
					$('.responsive-nav').hide();
					$('#sign-in-form').hide();
				}	
			});

			$('.responsive-nav').on("click", function(evt){
				evt.preventDefault();
				$(this).next().slideToggle("slow");
			})


</script>