    <h2><%= @results[0].name %></h2>



    <script type="text/javascript">
		var app = app || {};

		//NEIGBORHOOD ZIPCODE
		app.neighborhoodZip = <%= @neighborhood.zipcode %>;
		app.neighborhoodId = <%= @neighborhood.id %>;


	</script>