<body id="show-body">

	<div id="head-container" class="container">
		<div id="info-container">
			<h1 class="fadeInUp" id="neighborhood-name"><%= @neighborhood.name.upcase %></h1>
			<div id="line"></div>
			<p class="fadeInDown"><%= @neighborhood.description%></p>
		
		</div>
		<!-- SEARCH BAR -->
		<h3>What are you in the mood for?</h3>
		<form>
			<input type="text" id="search-field">
			<input type="submit" id="search-submit" value="Search">
		</form>
	</div>
	
	<div id="content-container" class="container">
		<div id="logos">
			<!-- <img src="http://www.darwinaerospace.com/images/yelp.png" alt="Powered by Yelp, red" id= 'yelp-logo'>
			<img style="-webkit-user-select: none" src="https://ss0.4sqi.net/img/poweredByFoursquare/poweredby-full-color-bf549c16c0ab3e1b04706ab5fcb422f1.png" id= 'foursquare-logo'> -->
		</div>
		<!-- SEARCH RESULTS -->
		
			<h4 id="search-result-header">Your Search Results</h4>
			<div class="list-containers" id="search-results">
				<ul id="yelp-results" class="yelp"></ul>
				<ul id="foursquare-results" class="foursquare"></ul>
			</div>
			<div id="suggestions-container">
			<!-- RESTAURANTS -->
			<h4 id="restaurant-header">Recommended Restaurants</h4>
			<div class="pre-list-containers" id="restaurants">
				<ul id="yelp-restaurants" class="yelp"></ul>
				<ul id="foursquare-restaurants" class="foursquare"></ul>
			</div>
			<!-- BARS -->
			<h4 id="bars-header">Recommended Bars</h4>
			<div class="pre-list-containers" id="bars">
				<ul id="yelp-bars" class="yelp"></ul>
				<ul id="foursquare-bars" class="foursquare"></ul>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		var app = app || {};

		//NEIGBORHOOD ZIPCODE
		app.neighborhoodZip = <%= @neighborhood.zipcode %>;
		app.neighborhoodId = <%= @neighborhood.id %>;

		$(document).ready(function(evt){
			//=====SUGGESTION AJAX CALLS
			app.suggestions();
			app.searchStuff();
			
			$('#yelp-results').hide();
			$('#search-submit').on("click",function(){
				$('#yelp-results').show();
			});
			$('#restaurants').hide();
			$('#restaurant-header').hide();
			function slider(){
				$('#restaurants').fadeToggle( "slow", "linear" );
				$('#restaurant-header').fadeToggle( "slow", "linear" );
				$('#bars').fadeToggle( "slow", "linear" );
				$('#bars-header').fadeToggle( "slow", "linear" );
			}

			setInterval(slider, 9500)

	// SIGN UP FORM
			$('#sign-up-form').hide();

			$('#nav-sign-up-cta').on("click", function(evt){
				evt.preventDefault();
				$('#sign-up-form').slideToggle("slow");
				$('#sign-in-form').hide();
				$('#sign-in-cta').show();
			})

			




		});


		


	</script>

</body>
