$primary-font: 'Lato', sans-serif;
$secondary-font: 'Grand Hotel', serif;

//COLORS
$primary-color: rgb(102,203,255);
$secondary-color: rgb(203,15,41);
$font-color: rgb(44,44,44);
$tertiary-color: rgb(255,255,255);
$quaternary-color: rgba(0,0,0,0.7);
$quinary-color: rgba(40,40,40,0.8);
$accept-color: rgb(89,193,114);
$nav-color: rgba(255,255,255,.7);


// ==================================
// 1075 PIXELS
// ==================================
@media only screen and (max-width : 1075px) {

	// ==================================
	// INDEX PAGE 
	// ==================================
	body#show-body{
		div#head-container{
			form#search-form{
				width: 80%;
			}
		}		
	}


}



// ==================================
// 960 PIXELS
// ==================================
@media only screen and (max-width : 960px) {

	// ==================================
	// INDEX PAGE 
	// ==================================
	body#main-body{
		form{
			width: 45%;
		}
		form#sign-in-form{
			width: 50%;
		}
		form#new_user{
			width: 70%;
		}
	}
	body#show-body{
		nav#nav{
			width: 100%;
		}
		nav.user-nav{
			width: 100%;
		}
		div#head-container{
			position: static;
			width: 100%;
			padding: 10px 0 50px;
		}
		div#content-container{
			position: static;
			width: 100%;
			div#suggestions-container{
			position: static;
			width: 100%;
		}
		}

	}


}



// ==================================
// 670 PIXELS
// ==================================
@media only screen and (max-width : 670px) {
	// ==================================
	// NAVIGATION
	// ==================================
	nav{
		display: block;
		background-color: rgba(44,44,44,.9);
		min-height: 50px;
		position: fixed;
		z-index: 2;
		top: 0;
		width: 100%;
	}
	nav#nav{
		
		h3{
			display: none;
		}
		img{
			display: block;
			width: 35px;
			margin: 10px 0 15px 5px;
			cursor: pointer;
		}
		a#nav-logo-wrapper{
			display: none;
		}
		h2.responsive-nav{
			display: block;
			font-family: $primary-font;
			font-size: 12pt;
			text-align: center;
			color: $font-color;
			border-top: 1px solid $font-color;
			padding: 15px 0;
			margin: 0;
			cursor: pointer;
		}
		h2.responsive-nav:hover{
			color: $primary-color;
			border-color: $primary-color;
			transition: .3s;
		}
		form#sign-in-form{
			width: 100%;
			input{
				display: block;
				float: none;
				margin: 0 auto 10px;
			}
			input.sign-in-field{
				width: 80%;
			}
			input[type="submit"]{
				margin-bottom: 50px;
			}
		}
		form#sign-up-form{
			width: 100%;
			input{
				display: block;
				float: none;
				margin: 0 auto 10px;
			}
			input.sign-up-field{
				width: 80%;
			}
			input[type="submit"]{
				margin-bottom: 50px;
			}
		}
	}

	nav.user-nav{
		img{
			display: block;
			width: 35px;
			margin: 10px 0 15px 5px;
			cursor: pointer;
		}
		.non-responsive{
			display: none;
		}
		input[type="submit"].non-responsive{
			display: none;
		}
		a{
			float: none;
			width: 100%;
		}
		a#nav-logo-wrapper{
			display: none;
		}
		a#responsive-sign-out{
			line-height: 0;
		}
		.responsive{
			display: block;
			cursor: pointer;
			float: none;
			margin: 0;
		}
		form#sign-out-form-responsive{
			display: block;
			float: none;
			margin: 0 auto;
			padding: 10px 0;
			border-top: 1px solid $font-color;
			font-size: 12pt;
		}
		h2, input[type="submit"].responsive{
			display: block;
			font-family: $primary-font;
			font-size: 12pt;
			text-align: center;
			color: $font-color;
			border-top: 1px solid $font-color;
			padding: 15px 0;
			margin: 0;
			cursor: pointer;
			float: none;
			background: none;
		}
		input[type="submit"].responsive{
			margin: 0 auto;
			border: none;
			font-size: 12pt;
			display: block;
		}
		input[type="submit"].responsive:hover{
			color: $primary-color;
		}
		h2:hover{
			color: $primary-color;
			border-color: $primary-color;
			transition: .3s;
		}
	}


	// ==================================
	// INDEX PAGE 
	// ==================================
	body#main-body{
		//=====================================NAVIGATION
		h1{
			font-size: 36pt;
		}
		h3#tagline{
			font-size: 12pt;
			letter-spacing: 5px;
		}
		//============================NEIGHBORHOOD FORM
		form{
			width: 100%;
			select{
				float: none;
				width: 50%;
				margin: 0 auto 10px;
				height: 48px;
			}
			#neighborhood-button{
				float: none;
				width: 30%;
				margin: 0 auto;
				display: block;
			}
		}
		//============================FIXED SIGN IN FORM
		form#sign-in-form{
			display: none;
		}
		//=====================================NAVIGATION
		form#new_user{
			width: 100%;
		}
	}

	body#profile-body{
		form{
			width: 100%;
		}
		.non-responsive{
			display: none;
		}
	}
}

// ==================================
// 480 PIXELS
// ==================================
@media only screen and (max-width : 480px) {

	// ==================================
	// INDEX PAGE 
	// ==================================
	body#main-body{
		h1 {
			font-size: 30pt;
		}
		h3#tagline{
			letter-spacing: 4px;
		}
		select{
			float: none;
			margin: 10px auto;
			width: 80%;
			height: 45px;
		}
		input[type="submit"]{
			float: none;
			margin: 0 auto;
			width: 55%;
		}
		form#new_user{
			width: 100%;
			.sign-up-field{
				width: 45%;
			}
		}
		footer{
			height: 20px;
		}
	}

	body#show-body{
		div#content-container{
			div#suggestions-container{
				ul{
					width: 100%;
					display: block;
				}
				ul.foursquare{
					float: none;
					display: block;
					width: 100%;
				}
			}
		} 
	}
	

	body#profile-body{
		form{
			input{
				width: 65%;
			}
		}
	}


}