$primary-font: 'Lato', sans-serif;
//COLORS
$primary-color: rgb(102,203,255);
// $secondary-color: ;
$tertiary-color: rgb(255,255,255);
$accept-color: rgb(89,193,114); 

// ==================================
// 960 PIXELS
// ==================================
@media only screen and (max-width : 960px) {

	// ==================================
	// INDEX PAGE 
	// ==================================
	body#main-body{
		form{
			width: 45%;
		}
		form#sign-in-form{
			width: 50%;
		}
		form#new_user{
			width: 70%;
		}
	}
	


}



// ==================================
// 670 PIXELS
// ==================================
@media only screen and (max-width : 670px) {
	// ==================================
	// NAVIGATION
	// ==================================
	nav{
		display: block;
		background-color: rgba(44,44,44,.9);
		min-height: 50px;
		position: fixed;
		z-index: 2;
		top: 0;
		width: 100%;
	}
	nav#nav{
		
		h3{
			display: none;
		}
		img{
			display: block;
			width: 35px;
			margin: 10px 0 15px 5px;
			cursor: pointer;
		}
		
		h2.responsive-nav{
			display: block;
			font-family: $primary-font;
			font-size: 12pt;
			text-align: center;
			color: $tertiary-color;
			border-top: 1px solid $tertiary-color;
			padding: 15px 0;
			margin: 0;
			cursor: pointer;
		}
		h2.responsive-nav:hover{
			color: $primary-color;
			border-color: $primary-color;
			transition: .3s;
		}
		form#sign-in-form{
			width: 100%;
			input{
				display: block;
				float: none;
				margin: 0 auto 10px;
			}
			input.sign-in-field{
				width: 80%;
			}
			input[type="submit"]{
				margin-bottom: 50px;
			}
		}
		form#sign-up-form{
			width: 100%;
			input{
				display: block;
				float: none;
				margin: 0 auto 10px;
			}
			input.sign-up-field{
				width: 80%;
			}
			input[type="submit"]{
				margin-bottom: 50px;
			}
		}
	}

	nav.user-nav{
		img{
			display: block;
			width: 35px;
			margin: 10px 0 15px 5px;
			cursor: pointer;
		}
		.non-responsive{
			display: none;
		}
		input[type="submit"]{
			display: none;
		}
		a{
			float: none;
			width: 100%;
		}
		a#nav-logo-wrapper{
			display: none;
		}
		.responsive{
			display: block;
			cursor: pointer;
			float: none;
			margin: 0;
		}
		h2{
			display: block;
			font-family: $primary-font;
			font-size: 12pt;
			text-align: center;
			color: $tertiary-color;
			border-top: 1px solid $tertiary-color;
			padding: 15px 0;
			margin: 0;
			cursor: pointer;
			float: none;
		}
		h2:hover{
			color: $primary-color;
			border-color: $primary-color;
			transition: .3s;
		}
	}


	// ==================================
	// INDEX PAGE 
	// ==================================
	body#main-body{
		//=====================================NAVIGATION
		h1{
			font-size: 48pt;
		}
		//============================NEIGHBORHOOD FORM
		form{
			width: 100%;
			select{
				float: none;
				width: 50%;
				margin: 0 auto 10px;
				height: 48px;
			}
			#neighborhood-button{
				float: none;
				width: 30%;
				margin: 0 auto;
				display: block;
			}
		}
		//============================FIXED SIGN IN FORM
		form#sign-in-form{
			display: none;
		}
		//=====================================NAVIGATION
		form#new_user{
			width: 100%;
		}
	}
}

// ==================================
// 480 PIXELS
// ==================================
@media only screen and (max-width : 480px) {

	// ==================================
	// INDEX PAGE 
	// ==================================
	body#main-body{
		h1 {
			font-size: 36pt;
		}
		select{
			float: none;
			margin: 10px auto;
			width: 80%;
			height: 45px;
		}
		input[type="submit"]{
			float: none;
			margin: 0 auto;
			width: 55%;
		}
		form#new_user{
			width: 100%;
			.sign-up-field{
				width: 45%;
			}
		}
	}
	


}