// Place all the styles related to the neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





//IMPORTS

@import 'animations';

// FONTS
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Grand Hotel', serif;

//COLORS
$primary-color: rgb(102,203,255);
$secondary-color: rgb(203,15,41);
$font-color: rgb(44,44,44);
$tertiary-color: rgb(255,255,255);
$quaternary-color: rgba(0,0,0,0.7);
$quinary-color: rgba(40,40,40,0.8);
$accept-color: #CB6928;
$nav-color: rgb(255,255,255);



* {
	outline: none;
}

/*====================================================
					NAVIGATION
======================================================*/

//=======================NO USER NAVIGATION

nav#nav{
	min-height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $nav-color;
	z-index: 2;
	img{
		display: none;
	}
	//===================TEXT FIELDS
	input[type='text'], input[type='password']{
		border: none;
		background-color: rgba(255,255,255,.7);
		border: 1px solid rgb(200,200,200);
		display: block;
		height: 25px;
		margin-right: 1%;
		padding: 5px;
		outline: none;
		z-index: 2;
	}
	//===================SUBMIT BUTTONS
	input[type='submit']{
		background: none;
		border: 1px solid rgb(200,200,200);
		color: $font-color;
		margin: 0 auto;
		height: 35px;
		width: 22%;
		cursor: pointer;
	}
	input[type="submit"]:hover{
		color: $accept-color;
		border-color: $accept-color;
		transition: .3s
	}
	//===================CTA BUTTONS
	h3{
		font-family: $primary-font;
		font-size: 12pt;
		color: $font-color;
		float: right;
		margin: 0 50px 0 0;
		line-height: 50px;
		cursor: pointer;
	}
	h3:hover{
		color: $primary-color;
		transition: .3s;
	}
	h3#welcome{
		float: left;
		margin: 0 50px;
	}
	//===================LOGO
	h1#nav-logo{
		font-weight: 700;
		font-size: 14pt;
		text-align: center;
		color: $font-color;
		margin: 0 auto;
		line-height: 50px;
		letter-spacing: 5px;
		float: none;
	}
	a#nav-logo-wrapper{
		float: left;
		margin-left: 24%;

	}
	//===================SIGN IN FORM
	form#sign-in-form{
		width: 40%;
		float: right;
		margin-top: 7px;
		input{
			float: left;
			margin-right: 1%;
		}
		input.sign-in-field{
			width: 35%;
		}
		input[type="submit"]{
			width: 22%
		}
	}
	form#sign-up-form{
		width: 40%;
		float: right;
		margin-top: 7px;
		input{
			float: left;
			margin-right: 1%;
		}
		input.sign-up-field{
			width: 35%;
		}
		input[type="submit"]{
			width: 22%
		}
	}
}



//=======================USER SIGNED IN NAVIGATION
nav.user-nav{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $nav-color;
	min-height: 50px;
	font-family: $primary-font;
	z-index: 2;
	h2.responsive{
		display: none;
	}
	img{
		display: none;
	}
	//===================MY PROFILE LINK
	h2, a{
		font-family: $primary-font;
		font-size: 10pt;
		color: $font-color;
		float: left;
		margin: 0 50px 0;
		line-height: 50px;
	}
	a {
		float: right;
		text-decoration: none;
		margin-right: 25px;
	}
	a:hover {
		color: $primary-color;
		transition: .3s;
	}
	//===================LOGO
	h1#nav-logo{
		font-weight: 700;
		font-size: 10pt;
		text-align: center;
		color: $font-color;
		margin: 0 0 0 50px;
		line-height: 50px;
		float: left;
	}
	h1.responsive{
		text-align: center;
	}
	a#nav-logo-wrapper{
		float: none;
		margin: 0 auto;
		display: block;
	}
	//===================SIGN OUT FORM
	form#sign-out-form{
		float: right;
		width: 80px;
		margin: 7px 30px 0 0;
		input[type="submit"]{
			width: 80px;
			background: none;
			border: 1px solid $font-color;
			color: $font-color;
			font-size: 10pt;
			height: 35px;
			cursor: pointer;
			border: none;
		}
		input[type="submit"]:hover{
			color: $secondary-color;
			transition: .3s;
		}
	}

}





/*====================================================
					MAIN PAGE
======================================================*/
body#main-body {
	background-image: image-url("main-bkg.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	font-family: $primary-font;
	//============================================NAVIGATION
	#nav-sign-up-cta{
		display: none;
	}
	h1#nav-logo{
		display: none;
	}
	//============================================HEADER

	h1 {
		overflow: auto;
		margin: 125px 0 0;
		font-size: 48pt;
		text-align: center;
		color: $tertiary-color;
		font-weight: 700;
		display: block;
		letter-spacing: 2px;
	}
	h3#tagline{
		font-size: 14pt;
		text-align: center;
		color: $tertiary-color;
		letter-spacing: 7px;
		margin: 0 0 50px;
	}
	input{
		border-radius: 5px;
		font-size: 10pt;
	}

	//=========================================NEIGHBORHOOD SEARCH
	form {
		width: 30%;
		margin: 0 auto;
		overflow: auto;
	}
	select {
		font-size: 12pt;
		text-align: right;
		color: $tertiary-color;
		font-weight: 700;
		border: none;
		border-radius: 5px;
		background: $font-color;
		width: 60%;
		padding: 0px;
		height: 40px;
		outline: none;
		display: block;
		float: left;
		margin: 0 5% 0 0;
	}
	#neighborhood-button{
		font-size: 12pt;
		text-align: center;
		color: $tertiary-color;
		font-weight: 400;
		border: 1px solid $primary-color;
		background-color: $primary-color;
		width: 35%;
		height: 40px;
		float: left;
		cursor: pointer;
	}
	//============================================SIGN UP FORM
	p {
		font-size: 12pt;
		text-align: center;
		color: $tertiary-color;
		cursor: pointer;
		width: 125px;
		margin: 25px auto;
	}
	p:hover{
		color: $primary-color;
		transition: .3s;
	}
	form#new_user{
		width: 50%;
		margin-right: 0 auto;
		label{
			display: block;
			text-align: center;
			color: $tertiary-color;
			margin-bottom: 3px;
			font-size: 12pt;
		}
		input{
			margin: 0 auto 10px;
			border: none;
			background-color: rgba(255,255,255,.7);
			display: block;
			height: 25px;
			padding: 5px;
			outline: none;
			z-index: 2;
			display: block;
			width: 27%;
		}
		input[type='submit']{
			background: none;
			border: 1px solid $tertiary-color;
			color: $tertiary-color;
			height: 35px;
			width: 22%;
			cursor: pointer;
			width: 19%;
		}
		input[type="submit"]:hover{
			color: $accept-color;
			border-color: $accept-color;
			transition: .3s
		}
	}
	footer{
		height: 50px;
		background-color: $tertiary-color;
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}







/*====================================================
					NEIGHBORHOOD PAGE
======================================================*/
body#show-body{
	margin: 0;
	font-family: $primary-font;
	background-image: image-url("main-bkg.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	nav#nav{
		width: 39%;
	}
	nav.user-nav{
		width: 39%;
	}
	div#head-container{
		width: 39%;
		margin:0;
		background-color: rgba(255,255,255,.7);
		color: white;
		position: fixed;
		top: 50px;
		left: 0;
		height: 100%;

		div{
			background-color: $primary-color;
			overflow-y: scroll;
			height: 295px;
		}
		div#line{
			width: 75px;
			margin: 20px auto;
			border-top: 1px solid; 
			height: 5px;
		}
		div#info-container{
			padding: 50px 0;
		}
		h1 {
			font-weight: 900;
			text-align: center;
			font-size: 36pt;
			padding: 10px;
			margin: 0;
		}
		p {
			text-align: center;
			font-size: 14pt;
			padding: 10px;
		}
		h3{
			font: 12pt;
			text-align: center;
			color: $font-color;
			margin: 25px 0 10px;
		}
		form{
			width: 60%;
			margin: 0 auto;
			input{
				height: 40px;
				border-radius: 5px;
				padding: 0 3%;
				font-size: 10pt;
			}
			input[type="text"]{
				width: 61%;
				border: 1px solid rgb(200,200,200);

			}
			input[type="submit"]{
				width: 31%;
				border: none;
				background-color: $primary-color;
				color: white;
				cursor: pointer;
			}
		}
	}
	div#content-container{
		width: 61%;
		margin: 0;
		position: fixed;
		left:39%;
		top: 0;
		overflow-y: scroll;
		background-color: rgba(255,255,255,.7);
		height: 100%;
		color: $font-color;
		a{
			color: $tertiary-color;
			text-decoration: none;
		}
		a:hover{
			color: $tertiary-color;
		}
		div#suggestions-container{
			position: fixed;
			bottom: 0;
			width: 61%;
			left: 39%;
			height: 29.2%;
			background-color: rgba(44,44,44,.7);
			color: white;
		}
		div.list-containers, div.pre-list-containers{
			width: 100%;
			overflow: auto;

		}
		div.list-containers:nth-child(3){
			border-top: none;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			height: 100%;
			position: relative;
			h2{
				font-size: 14pt;
				margin: 10px 0;
				font-weight: 700;
				height: 35px;
			}
			p{
				margin: 15px 0 0;
			}
			h3{
				font-size: 10pt;
				margin: 5px 0 0;
			}
			h3.rating{
				font-weight: 900;
			}
		}
		ul.yelp{
			width: 50%;
			float: left;
			h3.rating{
				background-color: rgb(209,29,11);	
				color: white;
			}
			a:hover{
				color: rgb(209,29,11);
				transition: .3s;
			}
		}
		ul.foursquare{
			width: 50%;
			float: right;
			h3.rating{
				background-color: rgb(7,50,162);
				color: white;	
			}
			a:hover{
				color: rgb(7,50,162);
				transition: .3s;
			}
		}
		li{
			width: 49%;
			float: left;
			text-align: center;
			padding: 10px 0;
		}
		h4{
			text-align: center;
			clear: both;
			color: $tertiary-color;
			margin: 0 auto;
			padding: 10px 0;
			width: 50%;
			border-bottom:1px solid rgb(240,240,240);
		}
		h4#search-result-header{
			width: 100%;
			margin: 0 auto;
			border: none;
			height: 30px;
			line-height: 30px;
			color: rgb(200,200,200);
			color: $tertiary-color;
			background-color: $primary-color;
		}
		div#search-results{
			height: 360px;
			overflow-y: scroll;
			img{
				height: 25px;
				margin: 10px 15px;
			}
			img#yelp-logo{
				float: left;
			}
			img#foursquare-logo{
				float: right;
			}
			a{
				color: $font-color;
			}
			li{
				width: 100%;
				float: none;
				display: block;
			}
			ul.yelp, ul.foursquare{
				clear: both;
			}
			ul#yelp-results{
				li:hover{
					a{color: rgb(209,29,11);}
					border-radius: 5px;
					transition: .3s;
				}
			}
			ul#foursquare-results{
				display: inline-block;
				float: none;
				li:hover{
					a{color: rgb(7,50,162);}
					border-radius: 5px;
					transition: .3s;
				}
			}
		}
	}
	
}

body#profile-body{
	margin: 0;
	background-color: $primary-color;
	font-family: $primary-font;
	footer{
		height: 50px;
		background-color: $tertiary-color;
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	h1{
		font-size: 36pt;
		margin: 125px 0 25px;
		text-align: center;
		font-weight: 900;
	}
	p{
		text-align: center;
		width: 50%;
		margin: 15px auto;
	}
	form{
		display: block;
		width: 65%;
		margin: 0 auto;
		label{
			text-align: center;
			display: block;
			margin-bottom: 5px;
		}
		input{
			height: 30px;
			font-size: 12pt;
			display: block;
			width: 25%;
			margin: 0 auto 15px;
			border-radius: 5px;
			border: none;
			padding: 5px;
		}
		input[type="submit"]{
			width: 15%;
			background: none;
			border: 1px solid white;
			padding: 5px;
			color: white;
			cursor: pointer;
		}
		input[type="submit"]:hover{
			transition: .3s;
			border-color: $accept-color;
			color: $accept-color;
		}
	}
}





@import 'media_queries';
