// // Place all the styles related to the Users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
$primary-font: 'Lato', sans-serif;
//COLORS
$primary-color: rgb(102,203,255);
// $secondary-color: ;
$tertiary-color: rgb(255,255,255);
$quaternary-color: rgba(0,0,0,0.7);
$quinary-color: rgba(40,40,40,0.8);
//=====================

body{
  background-color: $primary-color;
  text-align: center;
}
h1 {
  font-family: $primary-font;
  font-size: 36px;
  color: $tertiary-color;
}
#edit-form {
  font-family: $primary-font;
  font-size: 23px;
  color: $tertiary-color;
  font-weight: bold;
}

#edit-form-note {
  font-family: $primary-font;
  font-size: 18px;
  color: $quinary-color;
}

#profile-body {
  font-family: $primary-font;
  font-style: bold;
  color: $tertiary-color;
}

#profile-update-form {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 18px;
  color: $tertiary-color;
}

//===================TEXT FIELDS
input[type='text'], input[type='password']{
  border: none;
  background-color: rgba(255,255,255,.7);
  display: block;
  height: 25px;
  margin: 0 auto;
  max-width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  z-index: 2;
  font-style: $primary-font;
  color: $quaternary-color;
}
//===================SUBMIT BUTTONS
input[type='Submit']{
  background: $quaternary-color;
  border: 1px solid $quaternary-color;
  color: $tertiary-color;
  height: 35px;
  width: 22%;
  margin: 1% auto;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

// //===========CSS code for Chicago Flag Star
//
// //=========== first star
// #chicago-star {
//   display: block;
//   margin: 1% auto;
//   max-width: 100%;
// }
// #one-top-middle {
//   // top middle
//   width: 0;
//   height: 10;
//   margin-top: -20px;
//   margin-left: 170px;
// 	border-left: 10px solid transparent;
// 	border-right: 10px solid transparent;
// 	border-bottom: 50px solid red;
// }
// #one-top-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 185px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(45deg);
// }
// #one-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 185px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(90deg);
// }
// #one-bottom-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 185px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(135deg);
// }
// #one-bottom-middle {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 170px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
// 	border-top: 50px solid red;
// }
// #one-bottom-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 153.5px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(225deg);
// }
// #one-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 155px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(270deg);
// }
// #one-top-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 155px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(315deg);
// }
//
// //======================second star
// #two-top-middle {
//   // top middle
//   width: 0;
//   height: 10;
//   margin-top: -20px;
//   margin-left: 265px;
// 	border-left: 10px solid transparent;
// 	border-right: 10px solid transparent;
// 	border-bottom: 50px solid red;
// }
// #two-top-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 280px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(45deg);
// }
// #two-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 280px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(90deg);
// }
// #two-bottom-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 280px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(135deg);
// }
// #two-bottom-middle {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 265px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
// 	border-top: 50px solid red;
// }
// #two-bottom-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 248.5px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(225deg);
// }
// #two-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 250px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(270deg);
// }
// #two-top-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 250px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(315deg);
// }
// //======================third star
// #third-top-middle {
//   // top middle
//   width: 0;
//   height: 10;
//   margin-top: -20px;
//   margin-left: 35px;
// 	border-left: 10px solid transparent;
// 	border-right: 10px solid transparent;
// 	border-bottom: 50px solid red;
// }
// #third-top-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 340px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(45deg);
// }
// #third-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 340px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(90deg);
// }
// #third-bottom-right {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 340px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(135deg);
// }
// #third-bottom-middle {
//   width: 0;
//   height: 10;
//   margin-top: -40px;
//   margin-left: 325px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
// 	border-top: 50px solid red;
// }
// #third-bottom-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 308.5px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(225deg);
// }
// #third-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 310px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(270deg);
// }
// #third-top-left {
//   width: 0;
//   height: 10;
//   margin-top: -60px;
//   margin-left: 310px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 50px solid red;
//   transform:rotate(315deg);
// }
