// // Place all the styles related to the Users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
$primary-font: 'Lato', sans-serif;
//COLORS
$primary-color: rgb(102,203,255);
// $secondary-color: ;
$tertiary-color: rgb(255,255,255);
$quaternary-color: rgba(0,0,0,0.7);
$quinary-color: rgba(40,40,40,0.8);
//=====================


